<div class="container" *ngIf="album">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md">
                Catalogue
            </div>
        </div>
        <div *ngFor="let tag of album.tags; index as i" class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <input type="text" required class="form-control" [(ngModel)]="album.tags[i].name" name="name-{{i}}">
                </div>
                <input type="text" required class="form-control" [(ngModel)]="album.tags[i].value" name="value-{{i}}">
                <div class="input-group-append">
                    <button class="btn" type="button" (click)="onDeleteClicked(i)"><span octicon="x"></span></button>
                </div>
            </div>
        </div>
        <button class="btn" type="button" (click)="onPlusClicked()"><span octicon="plus"></span></button>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
    {{diagnostic}}
</div>
