<div *ngIf="album">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                Catalogue
            </div>
        </div>
        <div *ngFor="let tag of album.tags; index as i" class="row">
            <div class="col-4 nopadding">
                <input type="text" required class="form-control" [(ngModel)]="album.tags[i].name"
                       name="name-{{i}}">
            </div>
            <div class="col-7 nopadding">
                <input type="text" required class="form-control" [(ngModel)]="album.tags[i].value"
                       name="value-{{i}}">
            </div>
            <div class="col-1 nopadding">
                <button class="btn" type="button" (click)="onDeleteClicked(i)"><span octicon="x"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-11"></div>
            <div class="col-1 nopadding">
                <button class="btn" type="button" (click)="onPlusClicked()"><span octicon="plus"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col nopadding">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="saved" class="alert nopadding col" style="margin-top: 16px"
                 [ngClass]="{'alert-danger': error, 'alert-success': !error}" role="alert">
                &ensp;{{status}}
            </div>
        </div>
    </form>
</div>
