<p>
<div *ngIf="selectedTrack">
    <h2>Selected: {{ selectedTrack.name}}</h2>
</div>
<div *ngIf="tracks">
    <p>
        <label>Track 0 name:
            <input [(ngModel)]="tracks[0].name" placeholder="name">
        </label>

    <table>
        <tr>
            <th>Name</th>
            <th>URL</th>
        </tr>
    <tr *ngFor="let track of tracks" (click)="onClick(track)">
            <td>{{track.name}}</td>
            <td>{{track.url}}</td>
            <td *ngFor="let tag of track.tags">
            {{tag.name}}={{tag.value}}
            </td>
        </tr>
    </table>
</div>